<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/nav.css" />
  </head>
  <body>
    <nav
      class="flex justify-center items-center h-8 gap-3 underline bg-teal-100 w-screen"
    >
      <a href="/"><h1>FILM FANATICS</h1></a>
      <a href="/movies/new">Create A Movie</a>
    </nav>
  </body>
</html> 