<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>review</title>
    <link rel="stylesheet" href="/review.css">
  </head>
  <%- include('../partials/nav') %>
  <body >
    <form
      
      method="POST"
      action="/movies/<%= movie._id %>/review"
    >
      <div
        
      >
        <label for="userName">User Name: </label>
        <input
          class="bg-gray-300"
          type="text"
          name="userName"
          id="userName"
          required
        />
      </div>
      <div
        
      >
        <label for="reviews">Review: </label>
        <textarea
          class="bg-gray-300"
          id="reviews"
          name="reviews"
          maxlength="1500"
          required
        ></textarea>
      </div>
      <button
        
        type="submit"
      >
        Submit
      </button>
    </form>
  </body>
</html>